.main {
	max-width: 1280px;
	width: 100%;
	min-height: 100%;
	overflow: auto;
	display: flex;
	flex-direction: column;
	gap: 3rem;
	margin: 0 auto;
	padding: 3rem 0;
	overflow: overlay;
}
@media (max-width: 1248px) {
	.main {
		padding: 3rem 20px;
	}
}
