.dropdown {
	position: relative;
	width: 175px;
}
.dropdown button {
	width: 100%;
	text-align: start;
}

.dropdown > button {
	width: 100%;
	text-align: start;
	position: relative;
	border: none;
	padding: 1rem 2.5rem 1rem 1rem;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	background-color: white;
	border-radius: 4px;
}
.dark.dropdown button {
	background-color: var(--dm-dark-Blue);
	color: var(--white);
}

.dropdown button:focus {
	outline: none;
}
.dropdown > button::after {
	content: '';
	position: absolute;
	top: 57%;
	right: 1.5rem;
	right: 1rem;
	transform: translateY(-50%);
	border: 0.5rem solid transparent;
	border-top: 0.5rem solid #000;
}
.dark.dropdown > button::after {
	border-top: 0.5rem solid var(--white);
}

.dropdown menu {
	max-width: 100%;
	list-style: none;
	position: absolute;
	display: flex;
	flex-direction: column;
	font-size: var(--home-items);
	top: 100%;
	left: 0;
	width: 100%;
	background: #fff;
	z-index: 1;
	margin-top: 0.25rem;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
}
.dark.dropdown menu {
	background-color: var(--dm-dark-Blue);
	color: var(--white);
}

.dropdown menu li button {
	padding: 0.5rem 1rem;
}
.dark.dropdown menu li button:hover {
	background-color: var(--dm-very-Dark-Blue);
}
.dropdown menu li button:first-child {
	margin-top: 0.25rem;
}
.dropdown menu li button:last-child {
	margin-bottom: 0.25rem;
}

.dropdown menu li button:hover {
	background-color: #f5f5f5;
}
