@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
:root {
	--dm-dark-Blue: hsl(209, 23%, 22%);
	--dm-very-Dark-Blue: hsl(207, 26%, 17%);
	--lm-very-Dark-Blue: hsl(200, 15%, 8%);
	--lm-dark-Gray: hsl(0, 0%, 52%);
	--lm-very-Light-Gray: hsl(0, 0%, 98%);
	--white: hsl(0, 0%, 100%);
	--home-items: 14px;
	--detail-page: 16px;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

button {
	border: none;
	background-color: transparent;
}

html,
body {
	font-family: 'Nunito Sans', sans-serif;
	background-color: var(--lm-very-Light-Gray);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

input,
textarea,
button {
	font-family: inherit;
}

.dark body {
	background-color: var(--dm-very-Dark-Blue);
	color: var(--white);
}
.button-link {
	display: flex;
	width: fit-content;
	align-items: center;
	gap: 0.5rem;
	padding: 0.5rem 1rem;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	color: var(--lm-very-Dark-Blue);
	text-decoration: none;
	cursor: pointer;
}

.dark .button-link {
	color: var(--white);
	background-color: var(--dm-dark-Blue);
}
.dark input {
	background-color: var(--dm-dark-Blue);
	color: var(--white);
	caret-color: var(--white);
}
